version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-net

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: mern_backend
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/todosdb
    depends_on:
      - mongo
    ports:
      - "5000:5000"
    networks:
      - mern-net

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: mern_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - mern-net

volumes:
  mongo-data:

networks:
  mern-net:
